In [1]:
import pandas as pd

In [62]:
file = "data/database.csv"

In [63]:
df = pd.read_csv(file)

In [64]:
df.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
0,W,W44X335,W44X335,F,335.0,98.5,44.0,44,NAN,NAN,...,108,1070,3350,NAN,3760,2640,3050,965,140,NAN
1,W,W44X290,W44X290,F,290.0,85.4,43.6,43 5/8,NAN,NAN,...,107,1070,3330,NAN,3730,2620,3020,965,140,NAN
2,W,W44X262,W44X262,F,262.0,77.2,43.3,43 1/4,NAN,NAN,...,106,1060,3330,NAN,3730,2590,3000,965,140,NAN
3,W,W44X230,W44X230,F,230.0,67.8,42.9,42 7/8,NAN,NAN,...,105,1060,3300,NAN,3710,2590,3000,965,140,NAN
4,W,W40X655,W40X655,T,655.0,193.0,43.6,43 5/8,NAN,NAN,...,120,1020,3350,NAN,3780,2640,3070,864,191,NAN

In [65]:
hss = df[df["Type"] == "HSS"]
hss.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
1524,HSS,HSS24X12X.750,HSS24X12X3/4,F,171.16,47.1,NAN,NAN,24.0,21.9,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1525,HSS,HSS24X12X.625,HSS24X12X5/8,F,144.39,39.6,NAN,NAN,24.0,22.3,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1526,HSS,HSS24X12X.500,HSS24X12X1/2,F,116.91,32.1,NAN,NAN,24.0,22.6,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1527,HSS,HSS22X22X.875,HSS22X22X7/8,F,244.88,67.3,NAN,NAN,22.0,19.6,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1528,HSS,HSS22X22X.750,HSS22X22X3/4,F,212.00,58.2,NAN,NAN,22.0,19.9,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [66]:
df.loc[(df["EDI_Std_Nomenclature"].str.count("X") > 1) & (df["Type"] == "HSS"), ["Type"]] = "RECT HSS"

In [67]:
hss = df[df["Type"] == "RECT HSS"]
hss.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
1524,RECT HSS,HSS24X12X.750,HSS24X12X3/4,F,171.16,47.1,NAN,NAN,24.0,21.9,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1525,RECT HSS,HSS24X12X.625,HSS24X12X5/8,F,144.39,39.6,NAN,NAN,24.0,22.3,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1526,RECT HSS,HSS24X12X.500,HSS24X12X1/2,F,116.91,32.1,NAN,NAN,24.0,22.6,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1527,RECT HSS,HSS22X22X.875,HSS22X22X7/8,F,244.88,67.3,NAN,NAN,22.0,19.6,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1528,RECT HSS,HSS22X22X.750,HSS22X22X3/4,F,212.00,58.2,NAN,NAN,22.0,19.9,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [68]:
df.Type == "RECT HSS"

0       False
1       False
2       False
3       False
4       False
        ...
2086    False
2087    False
2088    False
2089    False
2090    False
Name: Type, Length: 2091, dtype: bool

In [69]:
df.loc[(df["EDI_Std_Nomenclature"].str.count("X") == 1) & (df["Type"] == "HSS"), ["Type"]] = "ROUND HSS"

In [70]:
hss = df[df["Type"] == "ROUND HSS"]
hss.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
1912,ROUND HSS,HSS20X.500,HSS20.000X0.500,F,104.00,28.5,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1913,ROUND HSS,HSS20X.375,HSS20.000X0.375,F,78.67,21.5,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1914,ROUND HSS,HSS18X.500,HSS18.000X0.500,F,93.54,25.6,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1915,ROUND HSS,HSS18X.375,HSS18.000X0.375,F,70.66,19.4,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1916,ROUND HSS,HSS16X.625,HSS16.000X0.625,F,103.00,28.1,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [73]:
df.replace(to_replace="NAN", value="NaN", inplace=True)
df.head()

,Type,EDI_Std_Nomenclature,AISC_Manual_Label,T_F,W,A,d,ddet,Ht,h,...,rts.1,ho.1,PA.1,PA2.1,PB.1,PC.1,PD.1,T.1,WGi.1,WGo.1
0,W,W44X335,W44X335,F,335.0,98.5,44.0,44,NaN,NaN,...,108,1070,3350,NaN,3760,2640,3050,965,140,NaN
1,W,W44X290,W44X290,F,290.0,85.4,43.6,43 5/8,NaN,NaN,...,107,1070,3330,NaN,3730,2620,3020,965,140,NaN
2,W,W44X262,W44X262,F,262.0,77.2,43.3,43 1/4,NaN,NaN,...,106,1060,3330,NaN,3730,2590,3000,965,140,NaN
3,W,W44X230,W44X230,F,230.0,67.8,42.9,42 7/8,NaN,NaN,...,105,1060,3300,NaN,3710,2590,3000,965,140,NaN
4,W,W40X655,W40X655,T,655.0,193.0,43.6,43 5/8,NaN,NaN,...,120,1020,3350,NaN,3780,2640,3070,864,191,NaN

In [75]:
df.to_csv(file, na_rep='NaN')